body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

td * {
    display: block !important;
    margin: 0 auto !important;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

.imageAnimation {
    animation-name: imageAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes imageAnimation {
    from {
        transform: scale(1);
        opacity: .5;
    }
    to {
        transform: scale(1.25);
        opacity: 1;
    }
}

.select-wrapper {
  position: relative;
  width: 350px;
}

.select-wrapper::after {
    color: black;
    content: '▾';
    margin-right: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 20px;
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  font-size: 18px;
}

.select:focus {
    color: black;
  }

.select::-ms-expand {
    display: none;
  }